@using DogAdoption.Models
@using DogAdoption.Services
@using Microsoft.EntityFrameworkCore
@inject NavigationManager Navigation
@inject IDbContextFactory<DogAdoption.Data.DogAdoptionContext> DbFactory
@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DogAdoption</a>
    </div>
</div>

<head>
    <!-- Add Font Awesome || Check out it is very cool!  --> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fas fa-home" style="margin-right: 10px;" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @* Admin's dont see, Users do *@
        @if (UserService.GetCurrentUserAsync() != null && UserService.GetCurrentUserAsync().isAdmin == false)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/messages/create">
                    <span class="fas fa-comment" style="margin-right: 10px;" aria-hidden="true"></span> Send Feeback
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/dogs/user">
                    <span class="fas fa-dog" style="margin-right: 10px;" aria-hidden="true"></span> View Dogs
                </NavLink>
            </div>
        }

        @if (UserService.GetCurrentUserAsync() != null && UserService.GetCurrentUserAsync().isAdmin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/dogs">
                    <span class="fas fa-dog" style="margin-right: 10px;" aria-hidden="true"></span> Manage Dogs
                </NavLink>
            </div>
        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="userforms">
                <span class="fas fa-file" style="margin-right: 10px;" aria-hidden="true"></span> Create Adoption Form
            </NavLink>
        </div>

        @if (UserService.GetCurrentUserAsync() == null)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users/register">
                    <span class="fas fa-registered" style="margin-right: 10px;" aria-hidden="true"></span> Register
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users/login">
                    <span class="fas fa-right-to-bracket" style="margin-right: 10px;" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="fas fa-address-card" style="margin-right: 10px;" aria-hidden="true"></span> About
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/contacts">
                <span class="fas fa-user" style="margin-right: 10px;" aria-hidden="true"></span> Contact
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="policy">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Policy
            </NavLink>
        </div>

        @if(UserService.GetCurrentUserAsync() != null && UserService.GetCurrentUserAsync().isAdmin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/messages">
                    <span class="fa-solid fa-comment" style="margin-right: 10px;" aria-hidden="true"></span> View Feedback
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/users">
                    <span class="fa-solid fa-comment" style="margin-right: 10px;" aria-hidden="true"></span> Manage Users
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/forms">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Pending Applications
                </NavLink>
            </div>
        }

        @if (UserService.GetCurrentUserAsync() != null)
        {
            <div class="nav-item px-3">
                <button class="nav-link" @onclick="Logout">Logout</button>
            </div>
        }

    </nav>
</div>

@code {

    private void Logout()
    {
        UserService.LogoutAsync();

        Navigation.NavigateTo("/");
    }
}

