@page "/Policy"
@attribute [StreamRendering]

<h3>Policy</h3>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | Happy Paws Dog Adoption</title>
    <style>
        header {
            background-color: #beb2e3;
            color: white;
            padding: 20px;
            text-align: center;
        }
        h1 {
            margin: 0;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
        }
        .container {
            max-width: 900px;
            margin: 30px auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .content {
            line-height: 1.6;
        }
        footer {
            background-color: #beb2e3;
            color: white;
            padding: 15px;
            text-align: center;
            position: fixed;
            width: 100%;
            bottom: 0;
        }


    </style>

</head>

<body>
    <header>
        <h1>Our Policy</h1>
    </header>
    <div class="container">
        <p class="content">
            Adopt-A-Dog is committed to providing the best care possible for our dogs.
        </p>
        <p class="content">
            This care includes but is not limited to:
        </p>
        <ul>
            <li>All dogs will receive regular health checkups and get treated for any ailments.</li>
            <li>All dogs will receive grooming and will each have their dietary needs met.</li>
            <li>All employees and volunteers will receive regular screening to ensure our dogs will only receive the best care possible.</li>
        </ul>
        <p class="content">
            We are compliant with all animal rights legislation and follow guidelines imposed by other local shelters.
            We strive to place all dogs which enter our doors into their forever homes and are against any forms of inhumane euthinization.
        </p>

    </div>

</body>


</html>
@code {

}
