@page "/forms"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DogAdoption.Models
@using DogAdoption.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DogAdoption.Data.DogAdoptionContext> DbFactory

<PageTitle>Applications</PageTitle>

<h1>All Pending Adoption Applications</h1>

<QuickGrid Class="table" Items="context.Form">
    <PropertyColumn Property="form => form.Address" />
    <PropertyColumn Property="form => form.HouseholdIncome" />
    <PropertyColumn Property="form => form.NumberOfPets" />
    <PropertyColumn Property="form => form.DogOfInterest" />
    <PropertyColumn Property="form => form.DateOfInterest" />

    <TemplateColumn Context="form">
        <a href="@($"forms/accept?id={form.Id}")">Accept Application</a> |
        <a href="@($"forms/deny?id={form.Id}")">Deny Application</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private DogAdoptionContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();

}
