@page "/userforms"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DogAdoption.Models
@using DogAdoption.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DogAdoption.Data.DogAdoptionContext> DbFactory

<PageTitle>UserIndex</PageTitle>

<style>
    header {
        background-color: #beb2e3;
        color: white;
        padding: 20px;
        text-align: center;
    }

    h1 {
        margin: 0;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f8f8;
    }

    .container {
        max-width: 600px;
        margin: 30px auto;
        padding: 20px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .content {
        line-height: 1.6;
    }

    footer {
        background-color: #beb2e3;
        color: white;
        padding: 15px;
        text-align: center;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
</style>


<header>
    <h1>Dog Adoption Form</h1>
</header>

<body>
    <p class="container">
        <a href="forms/create">Create New</a>
    </p>
</body>


@code {
    private DogAdoptionContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
